/*!
 *
 *  Project:  GLYPHICONS HALFLINGS
 *  Author:   Jan Kovarik - www.glyphicons.com
 *  Twitter:  @glyphicons
 *
 */
@font-face {
  font-family: 'Glyphicons Halflings Regular';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.halflings {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  color: #1d1d1b;
  text-decoration: none;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.halflings:before {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  margin: 0 5px 0 0;
  font: 12px/1em 'Glyphicons Halflings Regular';
  font-style: normal;
  font-weight: normal;
  color: #1d1d1b;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.halflings.glass:before {
  content: "\E001";
}
.halflings.music:before {
  content: "\E002";
}
.halflings.search:before {
  content: "\E003";
}
.halflings.envelope:before {
  content: "\2709";
}
.halflings.heart:before {
  content: "\E005";
}
.halflings.star:before {
  content: "\E006";
}
.halflings.star-empty:before {
  content: "\E007";
}
.halflings.user:before {
  content: "\E008";
}
.halflings.film:before {
  content: "\E009";
}
.halflings.th-large:before {
  content: "\E010";
}
.halflings.th:before {
  content: "\E011";
}
.halflings.th-list:before {
  content: "\E012";
}
.halflings.ok:before {
  content: "\E013";
}
.halflings.remove:before {
  content: "\E014";
}
.halflings.zoom-in:before {
  content: "\E015";
}
.halflings.zoom-out:before {
  content: "\E016";
}
.halflings.off:before {
  content: "\E017";
}
.halflings.signal:before {
  content: "\E018";
}
.halflings.cog:before {
  content: "\E019";
}
.halflings.trash:before {
  content: "\E020";
}
.halflings.home:before {
  content: "\E021";
}
.halflings.file:before {
  content: "\E022";
}
.halflings.time:before {
  content: "\E023";
}
.halflings.road:before {
  content: "\E024";
}
.halflings.download-alt:before {
  content: "\E025";
}
.halflings.download:before {
  content: "\E026";
}
.halflings.upload:before {
  content: "\E027";
}
.halflings.inbox:before {
  content: "\E028";
}
.halflings.play-circle:before {
  content: "\E029";
}
.halflings.repeat:before {
  content: "\E030";
}
.halflings.refresh:before {
  content: "\E031";
}
.halflings.list-alt:before {
  content: "\E032";
}
.halflings.lock:before {
  content: "\1F512";
}
.halflings.flag:before {
  content: "\E034";
}
.halflings.headphones:before {
  content: "\E035";
}
.halflings.volume-off:before {
  content: "\E036";
}
.halflings.volume-down:before {
  content: "\E037";
}
.halflings.volume-up:before {
  content: "\E038";
}
.halflings.qrcode:before {
  content: "\E039";
}
.halflings.barcode:before {
  content: "\E040";
}
.halflings.tag:before {
  content: "\E041";
}
.halflings.tags:before {
  content: "\E042";
}
.halflings.book:before {
  content: "\E043";
}
.halflings.bookmark:before {
  content: "\1F516";
}
.halflings.print:before {
  content: "\E045";
}
.halflings.camera:before {
  content: "\1F4F7";
}
.halflings.font:before {
  content: "\E047";
}
.halflings.bold:before {
  content: "\E048";
}
.halflings.italic:before {
  content: "\E049";
}
.halflings.text-height:before {
  content: "\E050";
}
.halflings.text-width:before {
  content: "\E051";
}
.halflings.align-left:before {
  content: "\E052";
}
.halflings.align-center:before {
  content: "\E053";
}
.halflings.align-right:before {
  content: "\E054";
}
.halflings.align-justify:before {
  content: "\E055";
}
.halflings.list:before {
  content: "\E056";
}
.halflings.indent-left:before {
  content: "\E057";
}
.halflings.indent-right:before {
  content: "\E058";
}
.halflings.facetime-video:before {
  content: "\E059";
}
.halflings.picture:before {
  content: "\E060";
}
.halflings.pencil:before {
  content: "\270F";
}
.halflings.map-marker:before {
  content: "\E062";
}
.halflings.adjust:before {
  content: "\E063";
}
.halflings.tint:before {
  content: "\E064";
}
.halflings.edit:before {
  content: "\E065";
}
.halflings.share:before {
  content: "\E066";
}
.halflings.check:before {
  content: "\E067";
}
.halflings.move:before {
  content: "\E068";
}
.halflings.step-backward:before {
  content: "\E069";
}
.halflings.fast-backward:before {
  content: "\E070";
}
.halflings.backward:before {
  content: "\E071";
}
.halflings.play:before {
  content: "\E072";
}
.halflings.pause:before {
  content: "\E073";
}
.halflings.stop:before {
  content: "\E074";
}
.halflings.forward:before {
  content: "\E075";
}
.halflings.fast-forward:before {
  content: "\E076";
}
.halflings.step-forward:before {
  content: "\E077";
}
.halflings.eject:before {
  content: "\E078";
}
.halflings.chevron-left:before {
  content: "\E079";
}
.halflings.chevron-right:before {
  content: "\E080";
}
.halflings.plus-sign:before {
  content: "\E081";
}
.halflings.minus-sign:before {
  content: "\E082";
}
.halflings.remove-sign:before {
  content: "\E083";
}
.halflings.ok-sign:before {
  content: "\E084";
}
.halflings.question-sign:before {
  content: "\E085";
}
.halflings.info-sign:before {
  content: "\E086";
}
.halflings.screenshot:before {
  content: "\E087";
}
.halflings.remove-circle:before {
  content: "\E088";
}
.halflings.ok-circle:before {
  content: "\E089";
}
.halflings.ban-circle:before {
  content: "\E090";
}
.halflings.arrow-left:before {
  content: "\E091";
}
.halflings.arrow-right:before {
  content: "\E092";
}
.halflings.arrow-up:before {
  content: "\E093";
}
.halflings.arrow-down:before {
  content: "\E094";
}
.halflings.share-alt:before {
  content: "\E095";
}
.halflings.resize-full:before {
  content: "\E096";
}
.halflings.resize-small:before {
  content: "\E097";
}
.halflings.plus:before {
  content: "\002B";
}
.halflings.minus:before {
  content: "\2212";
}
.halflings.asterisk:before {
  content: "\002A";
}
.halflings.exclamation-sign:before {
  content: "\E101";
}
.halflings.gift:before {
  content: "\E102";
}
.halflings.leaf:before {
  content: "\E103";
}
.halflings.fire:before {
  content: "\1F525";
}
.halflings.eye-open:before {
  content: "\E105";
}
.halflings.eye-close:before {
  content: "\E106";
}
.halflings.warning-sign:before {
  content: "\E107";
}
.halflings.plane:before {
  content: "\E108";
}
.halflings.calendar:before {
  content: "\1F4C5";
}
.halflings.random:before {
  content: "\E110";
}
.halflings.comments:before {
  content: "\E111";
}
.halflings.magnet:before {
  content: "\E112";
}
.halflings.chevron-up:before {
  content: "\E113";
}
.halflings.chevron-down:before {
  content: "\E114";
}
.halflings.retweet:before {
  content: "\E115";
}
.halflings.shopping-cart:before {
  content: "\E116";
}
.halflings.folder-close:before {
  content: "\E117";
}
.halflings.folder-open:before {
  content: "\E118";
}
.halflings.resize-vertical:before {
  content: "\E119";
}
.halflings.resize-horizontal:before {
  content: "\E120";
}
.halflings.hdd:before {
  content: "\E121";
}
.halflings.bullhorn:before {
  content: "\E122";
}
.halflings.bell:before {
  content: "\1F514";
}
.halflings.certificate:before {
  content: "\E124";
}
.halflings.thumbs-up:before {
  content: "\E125";
}
.halflings.thumbs-down:before {
  content: "\E126";
}
.halflings.hand-right:before {
  content: "\E127";
}
.halflings.hand-left:before {
  content: "\E128";
}
.halflings.hand-top:before {
  content: "\E129";
}
.halflings.hand-down:before {
  content: "\E130";
}
.halflings.circle-arrow-right:before {
  content: "\E131";
}
.halflings.circle-arrow-left:before {
  content: "\E132";
}
.halflings.circle-arrow-top:before {
  content: "\E133";
}
.halflings.circle-arrow-down:before {
  content: "\E134";
}
.halflings.globe:before {
  content: "\E135";
}
.halflings.wrench:before {
  content: "\1F527";
}
.halflings.tasks:before {
  content: "\E137";
}
.halflings.filter:before {
  content: "\E138";
}
.halflings.briefcase:before {
  content: "\1F4BC";
}
.halflings.fullscreen:before {
  content: "\E140";
}
.halflings.dashboard:before {
  content: "\E141";
}
.halflings.paperclip:before {
  content: "\1F4CE";
}
.halflings.heart-empty:before {
  content: "\E143";
}
.halflings.link:before {
  content: "\E144";
}
.halflings.phone:before {
  content: "\E145";
}
.halflings.pushpin:before {
  content: "\1F4CC";
}
.halflings.euro:before {
  content: "\20AC";
}
.halflings.usd:before {
  content: "\E148";
}
.halflings.gbp:before {
  content: "\E149";
}
.halflings.sort:before {
  content: "\E150";
}
.halflings.sort-by-alphabet:before {
  content: "\E151";
}
.halflings.sort-by-alphabet-alt:before {
  content: "\E152";
}
.halflings.sort-by-order:before {
  content: "\E153";
}
.halflings.sort-by-order-alt:before {
  content: "\E154";
}
.halflings.sort-by-attributes:before {
  content: "\E155";
}
.halflings.sort-by-attributes-alt:before {
  content: "\E156";
}
.halflings.unchecked:before {
  content: "\E157";
}
.halflings.expand:before {
  content: "\E158";
}
.halflings.collapse1:before {
  content: "\E159";
}
.halflings.collapse-top:before {
  content: "\E160";
}
.halflings.log_in:before {
  content: "\E161";
}
.halflings.flash:before {
  content: "\E162";
}
.halflings.log_out:before {
  content: "\E163";
}
.halflings.new_window:before {
  content: "\E164";
}
.halflings.record:before {
  content: "\E165";
}
.halflings.save:before {
  content: "\E166";
}
.halflings.open:before {
  content: "\E167";
}
.halflings.saved:before {
  content: "\E168";
}
.halflings.import:before {
  content: "\E169";
}
.halflings.export:before {
  content: "\E170";
}
.halflings.send:before {
  content: "\E171";
}
.halflings.floppy_disk:before {
  content: "\E172";
}
.halflings.floppy_saved:before {
  content: "\E173";
}
.halflings.floppy_remove:before {
  content: "\E174";
}
.halflings.floppy_save:before {
  content: "\E175";
}
.halflings.floppy_open:before {
  content: "\E176";
}
.halflings.credit_card:before {
  content: "\E177";
}
.halflings.transfer:before {
  content: "\E178";
}
.halflings.cutlery:before {
  content: "\E179";
}
.halflings.header:before {
  content: "\E180";
}
.halflings.compressed:before {
  content: "\E181";
}
.halflings.earphone:before {
  content: "\E182";
}
.halflings.phone_alt:before {
  content: "\E183";
}
.halflings.tower:before {
  content: "\E184";
}
.halflings.stats:before {
  content: "\E185";
}
.halflings.sd_video:before {
  content: "\E186";
}
.halflings.hd_video:before {
  content: "\E187";
}
.halflings.subtitles:before {
  content: "\E188";
}
.halflings.sound_stereo:before {
  content: "\E189";
}
.halflings.sound_dolby:before {
  content: "\E190";
}
.halflings.sound_5_1:before {
  content: "\E191";
}
.halflings.sound_6_1:before {
  content: "\E192";
}
.halflings.sound_7_1:before {
  content: "\E193";
}
.halflings.copyright_mark:before {
  content: "\E194";
}
.halflings.registration_mark:before {
  content: "\E195";
}
.halflings.cloud:before {
  content: "\2601";
}
.halflings.cloud_download:before {
  content: "\E197";
}
.halflings.cloud_upload:before {
  content: "\E198";
}
.halflings.tree_conifer:before {
  content: "\E199";
}
.halflings.tree_deciduous:before {
  content: "\E200";
}
.halflings.white:before {
  color: #fff;
}
.halflings-icon-list ul{
	padding: 0;
	list-style: none;
}
.halflings-icon-list ul li {
  position: relative;
  padding-left: 20px;
  color: #555;
  text-decoration: none;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.halflings-icon-list.featured ul li{
    padding-bottom: 5px;
    padding-top: 5px;
}
.halflings-icon-list ul li:before {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  margin: 0;
  font: 12px/20px 'Glyphicons Halflings Regular';
  font-style: normal;
  font-weight: normal;
  color: #555;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.halflings-icon-list.featured ul li:before{
  top: 5px;
}
.halflings-icon-list.glass ul li:before {
  content: "\E001";
}
.halflings-icon-list.music ul li:before {
  content: "\E002";
}
.halflings-icon-list.search ul li:before {
  content: "\E003";
}
.halflings-icon-list.envelope ul li:before {
  content: "\2709";
}
.halflings-icon-list.heart ul li:before {
  content: "\E005";
}
.halflings-icon-list.star ul li:before {
  content: "\E006";
}
.halflings-icon-list.star-empty ul li:before {
  content: "\E007";
}
.halflings-icon-list.user ul li:before {
  content: "\E008";
}
.halflings-icon-list.film ul li:before {
  content: "\E009";
}
.halflings-icon-list.th-large ul li:before {
  content: "\E010";
}
.halflings-icon-list.th ul li:before {
  content: "\E011";
}
.halflings-icon-list.th-list ul li:before {
  content: "\E012";
}
.halflings-icon-list.ok ul li:before {
  content: "\E013";
}
.halflings-icon-list.remove ul li:before {
  content: "\E014";
}
.halflings-icon-list.zoom-in ul li:before {
  content: "\E015";
}
.halflings-icon-list.zoom-out ul li:before {
  content: "\E016";
}
.halflings-icon-list.off ul li:before {
  content: "\E017";
}
.halflings-icon-list.signal ul li:before {
  content: "\E018";
}
.halflings-icon-list.cog ul li:before {
  content: "\E019";
}
.halflings-icon-list.trash ul li:before {
  content: "\E020";
}
.halflings-icon-list.home ul li:before {
  content: "\E021";
}
.halflings-icon-list.file ul li:before {
  content: "\E022";
}
.halflings-icon-list.time ul li:before {
  content: "\E023";
}
.halflings-icon-list.road ul li:before {
  content: "\E024";
}
.halflings-icon-list.download-alt ul li:before {
  content: "\E025";
}
.halflings-icon-list.download ul li:before {
  content: "\E026";
}
.halflings-icon-list.upload ul li:before {
  content: "\E027";
}
.halflings-icon-list.inbox ul li:before {
  content: "\E028";
}
.halflings-icon-list.play-circle ul li:before {
  content: "\E029";
}
.halflings-icon-list.repeat ul li:before {
  content: "\E030";
}
.halflings-icon-list.refresh ul li:before {
  content: "\E031";
}
.halflings-icon-list.list-alt ul li:before {
  content: "\E032";
}
.halflings-icon-list.lock ul li:before {
  content: "\1F512";
}
.halflings-icon-list.flag ul li:before {
  content: "\E034";
}
.halflings-icon-list.headphones ul li:before {
  content: "\E035";
}
.halflings-icon-list.volume-off ul li:before {
  content: "\E036";
}
.halflings-icon-list.volume-down ul li:before {
  content: "\E037";
}
.halflings-icon-list.volume-up ul li:before {
  content: "\E038";
}
.halflings-icon-list.qrcode ul li:before {
  content: "\E039";
}
.halflings-icon-list.barcode ul li:before {
  content: "\E040";
}
.halflings-icon-list.tag ul li:before {
  content: "\E041";
}
.halflings-icon-list.tags ul li:before {
  content: "\E042";
}
.halflings-icon-list.book ul li:before {
  content: "\E043";
}
.halflings-icon-list.bookmark ul li:before {
  content: "\1F516";
}
.halflings-icon-list.print ul li:before {
  content: "\E045";
}
.halflings-icon-list.camera ul li:before {
  content: "\1F4F7";
}
.halflings-icon-list.font ul li:before {
  content: "\E047";
}
.halflings-icon-list.bold ul li:before {
  content: "\E048";
}
.halflings-icon-list.italic ul li:before {
  content: "\E049";
}
.halflings-icon-list.text-height ul li:before {
  content: "\E050";
}
.halflings-icon-list.text-width ul li:before {
  content: "\E051";
}
.halflings-icon-list.align-left ul li:before {
  content: "\E052";
}
.halflings-icon-list.align-center ul li:before {
  content: "\E053";
}
.halflings-icon-list.align-right ul li:before {
  content: "\E054";
}
.halflings-icon-list.align-justify ul li:before {
  content: "\E055";
}
.halflings-icon-list.list ul li:before {
  content: "\E056";
}
.halflings-icon-list.indent-left ul li:before {
  content: "\E057";
}
.halflings-icon-list.indent-right ul li:before {
  content: "\E058";
}
.halflings-icon-list.facetime-video ul li:before {
  content: "\E059";
}
.halflings-icon-list.picture ul li:before {
  content: "\E060";
}
.halflings-icon-list.pencil ul li:before {
  content: "\270F";
}
.halflings-icon-list.map-marker ul li:before {
  content: "\E062";
}
.halflings-icon-list.adjust ul li:before {
  content: "\E063";
}
.halflings-icon-list.tint ul li:before {
  content: "\E064";
}
.halflings-icon-list.edit ul li:before {
  content: "\E065";
}
.halflings-icon-list.share ul li:before {
  content: "\E066";
}
.halflings-icon-list.check ul li:before {
  content: "\E067";
}
.halflings-icon-list.move ul li:before {
  content: "\E068";
}
.halflings-icon-list.step-backward ul li:before {
  content: "\E069";
}
.halflings-icon-list.fast-backward ul li:before {
  content: "\E070";
}
.halflings-icon-list.backward ul li:before {
  content: "\E071";
}
.halflings-icon-list.play ul li:before {
  content: "\E072";
}
.halflings-icon-list.pause ul li:before {
  content: "\E073";
}
.halflings-icon-list.stop ul li:before {
  content: "\E074";
}
.halflings-icon-list.forward ul li:before {
  content: "\E075";
}
.halflings-icon-list.fast-forward ul li:before {
  content: "\E076";
}
.halflings-icon-list.step-forward ul li:before {
  content: "\E077";
}
.halflings-icon-list.eject ul li:before {
  content: "\E078";
}
.halflings-icon-list.chevron-left ul li:before {
  content: "\E079";
}
.halflings-icon-list.chevron-right ul li:before {
  content: "\E080";
}
.halflings-icon-list.plus-sign ul li:before {
  content: "\E081";
}
.halflings-icon-list.minus-sign ul li:before {
  content: "\E082";
}
.halflings-icon-list.remove-sign ul li:before {
  content: "\E083";
}
.halflings-icon-list.ok-sign ul li:before {
  content: "\E084";
}
.halflings-icon-list.question-sign ul li:before {
  content: "\E085";
}
.halflings-icon-list.info-sign ul li:before {
  content: "\E086";
}
.halflings-icon-list.screenshot ul li:before {
  content: "\E087";
}
.halflings-icon-list.remove-circle ul li:before {
  content: "\E088";
}
.halflings-icon-list.ok-circle ul li:before {
  content: "\E089";
}
.halflings-icon-list.ban-circle ul li:before {
  content: "\E090";
}
.halflings-icon-list.arrow-left ul li:before {
  content: "\E091";
}
.halflings-icon-list.arrow-right ul li:before {
  content: "\E092";
}
.halflings-icon-list.arrow-up ul li:before {
  content: "\E093";
}
.halflings-icon-list.arrow-down ul li:before {
  content: "\E094";
}
.halflings-icon-list.share-alt ul li:before {
  content: "\E095";
}
.halflings-icon-list.resize-full ul li:before {
  content: "\E096";
}
.halflings-icon-list.resize-small ul li:before {
  content: "\E097";
}
.halflings-icon-list.plus ul li:before {
  content: "\002B";
}
.halflings-icon-list.minus ul li:before {
  content: "\2212";
}
.halflings-icon-list.asterisk ul li:before {
  content: "\002A";
}
.halflings-icon-list.exclamation-sign ul li:before {
  content: "\E101";
}
.halflings-icon-list.gift ul li:before {
  content: "\E102";
}
.halflings-icon-list.leaf ul li:before {
  content: "\E103";
}
.halflings-icon-list.fire ul li:before {
  content: "\1F525";
}
.halflings-icon-list.eye-open ul li:before {
  content: "\E105";
}
.halflings-icon-list.eye-close ul li:before {
  content: "\E106";
}
.halflings-icon-list.warning-sign ul li:before {
  content: "\E107";
}
.halflings-icon-list.plane ul li:before {
  content: "\E108";
}
.halflings-icon-list.calendar ul li:before {
  content: "\1F4C5";
}
.halflings-icon-list.random ul li:before {
  content: "\E110";
}
.halflings-icon-list.comments ul li:before {
  content: "\E111";
}
.halflings-icon-list.magnet ul li:before {
  content: "\E112";
}
.halflings-icon-list.chevron-up ul li:before {
  content: "\E113";
}
.halflings-icon-list.chevron-down ul li:before {
  content: "\E114";
}
.halflings-icon-list.retweet ul li:before {
  content: "\E115";
}
.halflings-icon-list.shopping-cart ul li:before {
  content: "\E116";
}
.halflings-icon-list.folder-close ul li:before {
  content: "\E117";
}
.halflings-icon-list.folder-open ul li:before {
  content: "\E118";
}
.halflings-icon-list.resize-vertical ul li:before {
  content: "\E119";
}
.halflings-icon-list.resize-horizontal ul li:before {
  content: "\E120";
}
.halflings-icon-list.hdd ul li:before {
  content: "\E121";
}
.halflings-icon-list.bullhorn ul li:before {
  content: "\E122";
}
.halflings-icon-list.bell ul li:before {
  content: "\1F514";
}
.halflings-icon-list.certificate ul li:before {
  content: "\E124";
}
.halflings-icon-list.thumbs-up ul li:before {
  content: "\E125";
}
.halflings-icon-list.thumbs-down ul li:before {
  content: "\E126";
}
.halflings-icon-list.hand-right ul li:before {
  content: "\E127";
}
.halflings-icon-list.hand-left ul li:before {
  content: "\E128";
}
.halflings-icon-list.hand-top ul li:before {
  content: "\E129";
}
.halflings-icon-list.hand-down ul li:before {
  content: "\E130";
}
.halflings-icon-list.circle-arrow-right ul li:before {
  content: "\E131";
}
.halflings-icon-list.circle-arrow-left ul li:before {
  content: "\E132";
}
.halflings-icon-list.circle-arrow-top ul li:before {
  content: "\E133";
}
.halflings-icon-list.circle-arrow-down ul li:before {
  content: "\E134";
}
.halflings-icon-list.globe ul li:before {
  content: "\E135";
}
.halflings-icon-list.wrench ul li:before {
  content: "\1F527";
}
.halflings-icon-list.tasks ul li:before {
  content: "\E137";
}
.halflings-icon-list.filter ul li:before {
  content: "\E138";
}
.halflings-icon-list.briefcase ul li:before {
  content: "\1F4BC";
}
.halflings-icon-list.fullscreen ul li:before {
  content: "\E140";
}
.halflings-icon-list.dashboard ul li:before {
  content: "\E141";
}
.halflings-icon-list.paperclip ul li:before {
  content: "\1F4CE";
}
.halflings-icon-list.heart-empty ul li:before {
  content: "\E143";
}
.halflings-icon-list.link ul li:before {
  content: "\E144";
}
.halflings-icon-list.phone ul li:before {
  content: "\E145";
}
.halflings-icon-list.pushpin ul li:before {
  content: "\1F4CC";
}
.halflings-icon-list.euro ul li:before {
  content: "\20AC";
}
.halflings-icon-list.usd ul li:before {
  content: "\E148";
}
.halflings-icon-list.gbp ul li:before {
  content: "\E149";
}
.halflings-icon-list.sort ul li:before {
  content: "\E150";
}
.halflings-icon-list.sort-by-alphabet ul li:before {
  content: "\E151";
}
.halflings-icon-list.sort-by-alphabet-alt ul li:before {
  content: "\E152";
}
.halflings-icon-list.sort-by-order ul li:before {
  content: "\E153";
}
.halflings-icon-list.sort-by-order-alt ul li:before {
  content: "\E154";
}
.halflings-icon-list.sort-by-attributes ul li:before {
  content: "\E155";
}
.halflings-icon-list.sort-by-attributes-alt ul li:before {
  content: "\E156";
}
.halflings-icon-list.unchecked ul li:before {
  content: "\E157";
}
.halflings-icon-list.expand ul li:before {
  content: "\E158";
}
.halflings-icon-list.collapse1 ul li:before {
  content: "\E159";
}
.halflings-icon-list.collapse-top ul li:before {
  content: "\E160";
}
.halflings-icon-list.log_in ul li:before {
  content: "\E161";
}
.halflings-icon-list.flash ul li:before {
  content: "\E162";
}
.halflings-icon-list.log_out ul li:before {
  content: "\E163";
}
.halflings-icon-list.new_window ul li:before {
  content: "\E164";
}
.halflings-icon-list.record ul li:before {
  content: "\E165";
}
.halflings-icon-list.save ul li:before {
  content: "\E166";
}
.halflings-icon-list.open ul li:before {
  content: "\E167";
}
.halflings-icon-list.saved ul li:before {
  content: "\E168";
}
.halflings-icon-list.import ul li:before {
  content: "\E169";
}
.halflings-icon-list.export ul li:before {
  content: "\E170";
}
.halflings-icon-list.send ul li:before {
  content: "\E171";
}
.halflings-icon-list.floppy_disk ul li:before {
  content: "\E172";
}
.halflings-icon-list.floppy_saved ul li:before {
  content: "\E173";
}
.halflings-icon-list.floppy_remove ul li:before {
  content: "\E174";
}
.halflings-icon-list.floppy_save ul li:before {
  content: "\E175";
}
.halflings-icon-list.floppy_open ul li:before {
  content: "\E176";
}
.halflings-icon-list.credit_card ul li:before {
  content: "\E177";
}
.halflings-icon-list.transfer ul li:before {
  content: "\E178";
}
.halflings-icon-list.cutlery ul li:before {
  content: "\E179";
}
.halflings-icon-list.header ul li:before {
  content: "\E180";
}
.halflings-icon-list.compressed ul li:before {
  content: "\E181";
}
.halflings-icon-list.earphone ul li:before {
  content: "\E182";
}
.halflings-icon-list.phone_alt ul li:before {
  content: "\E183";
}
.halflings-icon-list.tower ul li:before {
  content: "\E184";
}
.halflings-icon-list.stats ul li:before {
  content: "\E185";
}
.halflings-icon-list.sd_video ul li:before {
  content: "\E186";
}
.halflings-icon-list.hd_video ul li:before {
  content: "\E187";
}
.halflings-icon-list.subtitles ul li:before {
  content: "\E188";
}
.halflings-icon-list.sound_stereo ul li:before {
  content: "\E189";
}
.halflings-icon-list.sound_dolby ul li:before {
  content: "\E190";
}
.halflings-icon-list.sound_5_1 ul li:before {
  content: "\E191";
}
.halflings-icon-list.sound_6_1 ul li:before {
  content: "\E192";
}
.halflings-icon-list.sound_7_1 ul li:before {
  content: "\E193";
}
.halflings-icon-list.copyright_mark ul li:before {
  content: "\E194";
}
.halflings-icon-list.registration_mark ul li:before {
  content: "\E195";
}
.halflings-icon-list.cloud ul li:before {
  content: "\2601";
}
.halflings-icon-list.cloud_download ul li:before {
  content: "\E197";
}
.halflings-icon-list.cloud_upload ul li:before {
  content: "\E198";
}
.halflings-icon-list.tree_conifer ul li:before {
  content: "\E199";
}
.halflings-icon-list.tree_deciduous ul li:before {
  content: "\E200";
}