body {
	width: 100%;
	min-width: 1170px;
}
.container {
	width: 1170px;
	max-width: none !important;
}
.hidden-xs.hidden-sm,
.hidden-sm,
.hidden-xs{
	display: block !important;
}
.cart-total.visible-xs.visible-sm,
.wpml-switcher-mobile.visible-xs.visible-sm,
.header-middle-search.visible-xs.visible-sm,
.visible-sm,
.visible-xs{
	display: none !important;
}
.lpd_fixed_layouts .search-dropdown-full-width{
	margin: 0 -15px !important;
}
.right-meta-menu{
	float: right;
	margin-left: 0;
	margin-right: -5px;
}
.right-custom-meta{
	float: right;
}
.header-top .picons_social{
	float: right;
	margin-left: 10px;
	margin-right: 0;
}
.header-middle{
	padding: 20px 0;
}
#logo{
	float: left;
	margin: 0;
	padding: 0 40px 0 0;
	display: table-cell;
	text-align: inherit;
}
.header-middle-search{
	float: right;
	margin: 0 0 0 20px;
	display: table-cell;
}
.header-middle .picons_social{
	float: right;
	margin: 0;
	height: 60px;
	display: table-cell;
	padding: 20px 0 10px;
}
.header-content-wrap{
	text-align: inherit;
	padding: 0;
}
.header-content{
	padding: 0 39px 0 20px;
}
.custom-header-container.header-content,
.delivery.header-content{
	margin-left: 0px;
}
.header-middle-logo-center .header-content-wrap{
	float: left;
	width: 40%;	
}
.header-middle-logo-center #logo{
	float: left;
	width: 20%;
	margin: 0;
	padding: 0;
}
.header-middle-logo-center .header-middle-logo-center-right-conteiner{
	float: left;
	width: 40%;	
}
#footer .footer-meta .item{
	text-align: center;
	border-left: 1px solid rgba(255,255,255,0.5);
}
#footer .footer-meta .col-md-3:first-child .item{
	border: none;
}
#footer .footer-meta .col-md-4:first-child .item{
	border: none;
}
#footer .footer-meta .col-md-6:first-child .item{
	border: none;
}
#footer .footer-meta .col-md-12:first-child .item{
	border: none;
}
.payment-methods{
	text-align: right;
}
.lpd-meta-container .item{
	text-align: center;
	border-left: 1px solid #d7d7d7;
}
.lpd-meta-container .col-md-3:first-child .item{
	border: none;
}
.lpd-meta-container .col-md-4:first-child .item{
	border: none;
}
.lpd-meta-containera .col-md-6:first-child .item{
	border: none;
}
.lpd-meta-container .col-md-12:first-child .item{
	border: none;
}
.lpd-meta-container .item{
	text-align: center;
	border-left: 1px solid #d7d7d7;
}
.lpd-meta-container .col-md-3:first-child .item{
	border: none;
}
.lpd-meta-container .col-md-4:first-child .item{
	border: none;
}
.lpd-meta-containera .col-md-6:first-child .item{
	border: none;
}
.lpd-meta-container .col-md-12:first-child .item{
	border: none;
}
.lpd-shopping-cart{
	float: right;
	padding: 20px 0 10px;
	display: table-cell;
	border: none;
}
.header-bottom-wrap.affix {
    position: fixed;
    left: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	visibility: hidden;
}
.admin-bar .header-bottom-wrap.affix {
    padding-top: 32px;
}
.affix .header-bottom-wrap.affix{
    top: 0;
	opacity: 1;
	filter: alpha(opacity=100);
	visibility: visible;
}
#commentform input{
	width: 33%;
}
#commentform textarea{
	width: 66%;
}
#pp_full_res #commentform textarea{
	width: 100%;
}
#commentform input.btn{
	width: inherit;
}
.boxed #header,
.boxed #title-breadcrumb,
.boxed #main,
.boxed #footer{
	width: 1200px;
}