.picons_social .icon{
	display: block;
	width: 30px;
	height: 40px;
	background-image: url(../img-icons/picons_social/social-001_forrst.png);
	background-repeat: no-repeat;
	background-position: 3px 8px;
}
.picons_social .forrst{
	background-image: url(../img-icons/picons_social/social-001_forrst.png);
}
.picons_social .dribbble{
	background-image: url(../img-icons/picons_social/social-002_dribbble.png);
}
.picons_social .twitter{
	background-image: url(../img-icons/picons_social/social-003_twitter.png);
}
.picons_social .flickr{
	background-image: url(../img-icons/picons_social/social-004_flickr.png);
}
.picons_social .twitter-1{
	background-image: url(../img-icons/picons_social/social-005_twitter.png);
}
.picons_social .facebook{
	background-image: url(../img-icons/picons_social/social-006_facebook.png);
}
.picons_social .skype{
	background-image: url(../img-icons/picons_social/social-007_skype.png);
}
.picons_social .digg{
	background-image: url(../img-icons/picons_social/social-008_digg.png);
}
.picons_social .google{
	background-image: url(../img-icons/picons_social/social-009_google.png);
}
.picons_social .html5{
	background-image: url(../img-icons/picons_social/social-010_html5.png);
}
.picons_social .linkedin{
	background-image: url(../img-icons/picons_social/social-011_linkedin.png);
}
.picons_social .last_fm{
	background-image: url(../img-icons/picons_social/social-012_last_fm.png);
}
.picons_social .vimeo{
	background-image: url(../img-icons/picons_social/social-013_vimeo.png);
}
.picons_social .yahoo{
	background-image: url(../img-icons/picons_social/social-014_yahoo.png);
}
.picons_social .tumblr{
	background-image: url(../img-icons/picons_social/social-015_tumblr.png);
}
.picons_social .apple{
	background-image: url(../img-icons/picons_social/social-016_apple.png);
}
.picons_social .windows{
	background-image: url(../img-icons/picons_social/social-017_windows.png);
}
.picons_social .youtube{
	background-image: url(../img-icons/picons_social/social-018_youtube.png);
}
.picons_social .delicious{
	background-image: url(../img-icons/picons_social/social-019_delicious.png);
}
.picons_social .rss{
	background-image: url(../img-icons/picons_social/social-020_rss.png);
}
.picons_social .picasa{
	background-image: url(../img-icons/picons_social/social-021_picasa.png);
}
.picons_social .deviantart{
	background-image: url(../img-icons/picons_social/social-022_deviantart.png);
}
.picons_social .technorati{
	background-image: url(../img-icons/picons_social/social-023_technorati.png);
}
.picons_social .stumbleupon{
	background-image: url(../img-icons/picons_social/social-024_stumbleupon.png);
}
.picons_social .blogger{
	background-image: url(../img-icons/picons_social/social-025_blogger.png);
}
.picons_social .wordpress{
	background-image: url(../img-icons/picons_social/social-026_wordpress.png);
}
.picons_social .amazon{
	background-image: url(../img-icons/picons_social/social-027_amazon.png);
}
.picons_social .appstore{
	background-image: url(../img-icons/picons_social/social-028_appstore.png);
}
.picons_social .paypal{
	background-image: url(../img-icons/picons_social/social-029_paypal.png);
}
.picons_social .myspace{
	background-image: url(../img-icons/picons_social/social-030_myspace.png);
}
.picons_social .dropbox{
	background-image: url(../img-icons/picons_social/social-031_dropbox.png);
}
.picons_social .windows8{
	background-image: url(../img-icons/picons_social/social-032_windows8.png);
}
.picons_social .pinterest{
	background-image: url(../img-icons/picons_social/social-033_pinterest.png);
}
.picons_social .soundcloud{
	background-image: url(../img-icons/picons_social/social-034_soundcloud.png);
}
.picons_social .google_drive{
	background-image: url(../img-icons/picons_social/social-035_google_drive.png);
}
.picons_social .android{
	background-image: url(../img-icons/picons_social/social-036_android.png);
}
.picons_social .behance{
	background-image: url(../img-icons/picons_social/social-037_behance.png);
}
.picons_social .instagram{
	background-image: url(../img-icons/picons_social/social-038_instagram.png);
}
.picons_social .ebay{
	background-image: url(../img-icons/picons_social/social-039_ebay.png);
}
.picons_social .google_plus{
	background-image: url(../img-icons/picons_social/social-040_google_plus.png);
}


.picons_social .forrst1{
	background-image: url(../img-icons/picons_social/social-041_forrst.png);
}
.picons_social .dribbble1{
	background-image: url(../img-icons/picons_social/social-042_dribbble.png);
}
.picons_social .twitter1{
	background-image: url(../img-icons/picons_social/social-043_twitter.png);
}
.picons_social .flickr1{
	background-image: url(../img-icons/picons_social/social-044_flickr.png);
}
.picons_social .twitter-11{
	background-image: url(../img-icons/picons_social/social-045_twitter.png);
}
.picons_social .facebook1{
	background-image: url(../img-icons/picons_social/social-046_facebook.png);
}
.picons_social .skype1{
	background-image: url(../img-icons/picons_social/social-047_skype.png);
}
.picons_social .digg1{
	background-image: url(../img-icons/picons_social/social-048_digg.png);
}
.picons_social .google1{
	background-image: url(../img-icons/picons_social/social-049_google.png);
}
.picons_social .html51{
	background-image: url(../img-icons/picons_social/social-050_html5.png);
}
.picons_social .linkedin1{
	background-image: url(../img-icons/picons_social/social-051_linkedin.png);
}
.picons_social .last_fm1{
	background-image: url(../img-icons/picons_social/social-052_last_fm.png);
}
.picons_social .vimeo1{
	background-image: url(../img-icons/picons_social/social-053_vimeo.png);
}
.picons_social .yahoo1{
	background-image: url(../img-icons/picons_social/social-054_yahoo.png);
}
.picons_social .tumblr1{
	background-image: url(../img-icons/picons_social/social-055_tumblr.png);
}
.picons_social .apple1{
	background-image: url(../img-icons/picons_social/social-056_apple.png);
}
.picons_social .windows1{
	background-image: url(../img-icons/picons_social/social-057_windows.png);
}
.picons_social .youtube1{
	background-image: url(../img-icons/picons_social/social-058_youtube.png);
}
.picons_social .delicious1{
	background-image: url(../img-icons/picons_social/social-059_delicious.png);
}
.picons_social .rss1{
	background-image: url(../img-icons/picons_social/social-060_rss.png);
}
.picons_social .picasa1{
	background-image: url(../img-icons/picons_social/social-061_picasa.png);
}
.picons_social .deviantart1{
	background-image: url(../img-icons/picons_social/social-062_deviantart.png);
}
.picons_social .technorati1{
	background-image: url(../img-icons/picons_social/social-063_technorati.png);
}
.picons_social .stumbleupon1{
	background-image: url(../img-icons/picons_social/social-064_stumbleupon.png);
}
.picons_social .blogger1{
	background-image: url(../img-icons/picons_social/social-065_blogger.png);
}
.picons_social .wordpress1{
	background-image: url(../img-icons/picons_social/social-066_wordpress.png);
}
.picons_social .amazon1{
	background-image: url(../img-icons/picons_social/social-067_amazon.png);
}
.picons_social .appstore1{
	background-image: url(../img-icons/picons_social/social-068_appstore.png);
}
.picons_social .paypal1{
	background-image: url(../img-icons/picons_social/social-069_paypal.png);
}
.picons_social .myspace1{
	background-image: url(../img-icons/picons_social/social-070_myspace.png);
}
.picons_social .dropbox1{
	background-image: url(../img-icons/picons_social/social-071_dropbox.png);
}
.picons_social .windows81{
	background-image: url(../img-icons/picons_social/social-072_windows8.png);
}
.picons_social .pinterest1{
	background-image: url(../img-icons/picons_social/social-073_pinterest.png);
}
.picons_social .soundcloud1{
	background-image: url(../img-icons/picons_social/social-074_soundcloud.png);
}
.picons_social .google_drive1{
	background-image: url(../img-icons/picons_social/social-075_google_drive.png);
}
.picons_social .android1{
	background-image: url(../img-icons/picons_social/social-076_android.png);
}
.picons_social .behance1{
	background-image: url(../img-icons/picons_social/social-077_behance.png);
}
.picons_social .instagram1{
	background-image: url(../img-icons/picons_social/social-078_instagram.png);
}
.picons_social .ebay1{
	background-image: url(../img-icons/picons_social/social-079_ebay.png);
}
.picons_social .google_plus1{
	background-image: url(../img-icons/picons_social/social-080_google_plus.png);
}
